@model EmployeeInfo.Models.CreateEmployee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmployeeInfo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeInformation.EmployeeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeInformation.EmployeeName)
            @Html.ValidationMessageFor(model => model.EmployeeInformation.EmployeeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeInformation.Designation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeInformation.Designation)
            @Html.ValidationMessageFor(model => model.EmployeeInformation.Designation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeInformation.DateofJoining)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeInformation.DateofJoining)
            @Html.ValidationMessageFor(model => model.EmployeeInformation.DateofJoining)
        </div>
        <div>
            @Html.ListBoxFor(model=> model.EmployeeBranch, new MultiSelectList(Model.EmployeeBranch,"EmployeeID", "Branch"))
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
